@import 'css/bootstrap.min';
@import '../../node_modules/bootflat/bootflat/scss/bootflat.scss';

a {
  text-decoration: none !important;
}

.page-content {
  margin-top: 75px;
}

.navbar-right {
  margin-right: 0 !important;
}
